.bodycolor-component {
  display: inline-block;
  .preview-bodycolor {
    border: 1px solid #333;
    width: 20px;
    height: 20px;
    border-radius: 3px;
    cursor: pointer;
    margin-right: 10px;
  }
  .body-color-pop-up {
    overflow: auto;
    position: absolute;
    z-index: 10;
    background: #222222;
    bottom: 0;
    left: 0;
    width: 100%;
    max-height: 90vh;
    .list-colors {
      display: flex;
      flex-wrap: wrap;
      & > div {
        box-sizing: border-box;
        cursor: pointer;
        &:hover, &.active {
          border: 1px solid #333;
        }
      }
    }
    .close-popup-body-color {
      position: absolute;
      right: 5px;
      top: 5px;
      &:hover {
        color: #333;
      }
    }
  }
  .background-popup-body-color {
    position: fixed;
    cursor: pointer;
    background: transparent;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }

  .list-colors > div {
    $size: 100/9 ;
    width: percentage($size / 100);
    height: #{$size}vw;
  }

  @media only screen and (orientation: landscape) {
    .list-colors > div {
      $size: 100/27;
      width: percentage($size / 100);
      height: #{$size}vw;
    }
  }

  @media only screen and (min-width: 640px) {
    .list-colors > div {
      $size: 100/27;
      width: percentage($size / 100);
      height: #{$size}vw;
    }
  }
}
